@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply antialiased;
  }
}

.font-newsreader {
  font-family: 'Newsreader', serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
